* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

p > code {
  padding: 3px;
}

code {
  background: white;
  font-size: 0.875rem;
  font-weight: bold;
}

pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}


.container {
  width: 100vw;
  height: auto;
  background-color: #394a55;
  color: white;
}

.titleContainer {
  width: 100%;
  height: auto;
  background-color: #2b373f;
  text-align: center;
  border-bottom: 3px solid #101518;
}

.title {
  text-transform: uppercase;
  word-spacing: 15px;
  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 400;
  padding: 50px;
}

.bodyContainer {
  width: 100%;
  height: auto;
  padding: 50px;
  border-bottom: 3px solid #101518;
  display: flex;
  flex-direction: row;
}

.inputContainer, .outputContainer {
  width: 50%;
  height: auto;
  margin: 30px;
}

.inputTitle, .outputTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  padding: 30px;
  background-color: #232e35;
  border: 2px solid #101518;
}

.editor, .preview {
  width: 100%;
  padding: 30px;
  border: 3px solid #101518;
}

.editor {
  height: 500px;
}

.preview {
  height: auto;
  background-color: #DCDCDC;
  color: black;
}

.preview > * {
  margin: 25px;
}

